@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);

html {
    font-size: 62.5%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #dbdfdf;
}

/*.navbar {
    background-color: #6AA7D4;
}*/

.navbar{
    margin-bottom: 0;
    background-color: #333;
}   

.navbar-brand {
    font-weight: 700;
    font-size: 4rem;
    background-color: #333;
    font-family: Boogaloo;
}

.navbar-inverse .navbar-brand {
    color: #97BEFB;
}


.navbar li {
    font-size: 1.7rem;
}



#map_list {
    width: 100%;
    height: 400px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

  

footer {
    background-color: #333;
    text-align: center;
}

footer div {
    display: inline-block;
    color: grey;
}

footer a, .fiche a {
    color: #9d9d9d;
    text-decoration: none;
}

footer a:hover, .fiche a {
    text-decoration: none;
    color: white;
}

footer li {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
        padding: 0.5rem;

}



/*-----------------Fiche endroit-----------*/

.fiche {
    text-align: center;
}

.fiche h2 {
    text-align: center;
    font-size: 3rem;
    color: #C53A3A;
}   

 .fiche img {
    width: 85%;

 }

.fiche iframe {
    width: 85%;
    margin-top: 1rem;
}
.fiche h3 {
    color: #C53A3A;
}
.fiche p { 
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

.fiche .fa {
    color: orange;
    padding: 1rem;
    font-size: 3rem;
}

.fiche a {
    color: #333;
    font-size: 1.5rem;
}
/*------style liste endroits------*/
.liste h3 {
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.liste h4 {
    padding-right: 2rem;
    padding-left: 2rem;

}

.listeimg {
    height: 13rem;
    overflow: hidden;
}




/*-----------------------Profil---------------------*/
#profil{
    color:white;
    background: url('../img/bibliotheque_nationale.jpg');
    background-attachment: fixed;
    background-size: 200% 100%;
    background-position: center;
    padding-top: 4em;

}
#profil img{
    display: block; 
    width: 12em;

    margin: auto;
    
}
#profil input {
    display: inline-block;
}
#profil label{
    display: block;
}

/*-----------------------Connexion---------------------*/
#connexion{
    color:black;
}
#connexion input {
    display: inline-block;
}
#connexion label{
    display: block;
}
#connexion form{
    width:200px;
    margin: auto;
}

/*-----------------------Inscription---------------------*/

#inscription{
    color:black;
}
#inscription img{
    width: 30%;
    margin: 1em 35%;
}
#inscription input {
    display: inline-block;
}
#inscription label{
    display: block;
}
#inscription form{
    width:200px;
    margin: auto;
}



footer ul:first-of-type {
    padding-top: 1rem;
}

footer .fa {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer ul {
    margin-bottom: 0;
}


/*-------------------------------------
                MEDIA QUERY
*//*-----------------------------------------*/

@media screen and (min-width: 52rem) {

    /*
    Reset
    */
.formulaire form {
    padding-left: 1.3rem;

}    

.formulaire article {
    width: 35%;
    left: 32rem;
    top: 8rem;
}

/*--------media queries home page------ */


.formulaire img {
    
    width: 100%;
    position: absolute;
   clip: rect(-1px,6004px,200px,2px);
}


/*-----------------Fiche endroit-----------*/

 .fiche img, iframe {
    width: 45%;
    margin: 1rem;
    vertical-align: top;
 }

     

.fiche h2 {
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}


.fiche h3 {
    font-size: 3.5rem;
} 

.carte_liste iframe {
    width: 90%;
}


/*-----------------liste Endroits---------*/


.liste {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.liste img {
    width: 85%;
    margin: 1.5rem;
}


.liste h4 {

    padding-right: 4rem;
    padding-left: 4rem;
    
}


.listeimg {

    height: 26rem;
    overflow: hidden;
}


 

}