@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);

html {
    font-size: 62.5%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #dbdfdf;
/*    position: relative;*/
}
h1{
    text-align: center;
}
.navbar{
    margin-bottom: 0;
    background-color: #333;
}   

.navbar-brand {
    font-weight: 700;
    font-size: 4rem;
    background-color: #333;
    font-family: Boogaloo;
}

.navbar-inverse .navbar-brand {
    color: #97BEFB;
}

.navbar li {
    font-size: 1.7rem;
}

.formulaire img {
    width: 100%;
    position: absolute;
  
}

.formulaire article {
    position: absolute;
    z-index: 10;
    color: white;
    background-color: rgba(13, 108, 189, 0.6);
    padding: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.7rem;
    width:  90%;
    display: block;
    left: 1.5rem;
    right: 1.5rem;

}

#map_list {
    width: 100%;
    height: 400px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

input[type=submit] {
    color: black;
    font-weight: 600;
    padding: 0.5rem;
}

input[type=checkbox], input[type=radio] {
           /* All browsers except webkit*/
    transform: scale(1.5);

    /* Webkit browsers*/
    -webkit-transform: scale(1.5);
}

.formulaire form {
    padding-left: 1.3rem;
}

.lacarte, .pub {
    text-align: center;
}

 

.pub h2 {
    
    font-family: Boogaloo;
    font-size: 2.5rem;
    margin-top: 0;
}
.pub img {


    margin: 2rem;
    border-radius: 0.5em;
    max-height: 80%;
 }



footer {
    bottom: 0px;
    width: 100%;
    background-color: #333;
    text-align: center;
}

footer div {
    display: inline-block;
    color: grey;
}

footer a, .fiche a {
    color: #9d9d9d;
    text-decoration: none;
}

footer a:hover, .fiche a {
    text-decoration: none;
    color: white;
}

footer li {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
        padding: 0.5rem;

}
/*-----------------Fiche endroit-----------*/

.fiche {
    text-align: center;
}
.fiche h2 {
    text-align: center;
    font-size: 3rem;
    color: #C53A3A;
}

.fiche h1 {
    font-size: 5rem;
    color: #C53A3A;
}

.fiche img {
    width: 85%;
}

iframe {
    width: 85%;
    margin-top: 1rem;
}
.fiche h3 {
    color: #C53A3A;
}
.fiche p { 
    max-width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}
.fiche .fa {
    color: orange;
    padding: 1rem;
    font-size: 3rem;
}
.fiche a {
    color: #333;
    font-size: 1.5rem;
}
/*------style liste endroits------*/
.liste h3 {
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.fiche article:first-of-type {
    max-width: 93%;
    margin: auto;
}
.liste h4 {
    padding-right: 2rem;
    padding-left: 2rem;

}

.listeimg {
    height: 13rem;
    overflow: hidden;
}
#liste_musee{
    padding-bottom: 6em;
}


/*-----------------------Profil---------------------*/
#profil{
    color:white;
    background: url('../img/tour_eiffel_b.jpg');
    background-attachment: fixed;
    background-size: 200% 100%;
    background-position: center;
    padding-top: 4em;

}
#profil img{
    display: block; 
    width: 12em;

    margin: auto;
    
}
#profil input {
    display: inline-block;
}
#profil label{
    display: block;
}

/*-----------------------Connexion---------------------*/
#connexion{
    color:black;
}
#connexion input {
    display: inline-block;
}
#connexion label{
    display: block;
}
#connexion form{
    width:200px;
    margin: auto;

}

/*-----------------------Inscription---------------------*/

#inscription{
    color:black;
}
#inscription img{
    width: 30%;
    margin: 1em 35%;
}
#inscription input {
    display: inline-block;
}
#inscription label{
    display: block;
}
#inscription form{
    width:200px;
    margin: auto;
}
#inscription footer,#connexion footer{
    position:absolute;
}
/*-----------------footer generique--------------*/
footer ul:first-of-type {
    padding-top: 1rem;
}

footer .fa {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer ul {
    margin-bottom: 0;
}

#mentions {
    max-width: 90%;
    margin: auto;
}

/*-------------------------------------
                MEDIA QUERY
*//*-----------------------------------------*/

@media screen and (min-width: 52rem) {

    /*
    Reset
    */
.formulaire form {
    padding-left: 1.3rem;

}    

.formulaire article {
    width: 35%;
    left: 32rem;
    top: 8rem;
}

/*--------media queries home page------ */


.formulaire img {
    
    width: 100%;
    position: absolute;
   clip: rect(-1px,6004px,200px,2px);
}


/*-----------------Fiche endroit-----------*/

 .fiche img, iframe {
    width: 45%;
    margin: 1rem;
    vertical-align: top;
 }

     

.fiche h2 {
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}


.fiche h3 {
    font-size: 3.5rem;
} 

.carte_liste iframe {
    width: 90%;
}

.liste {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.liste img {
    width: 85%;
    margin: 1.5rem;
}
.listeimg {

    height: 26rem;
    overflow: hidden;
}

.liste {
    
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

    .liste h4 {

        padding-right: 4rem;
        padding-left: 4rem;

    }

.liste img {
    width: 85%;
    margin: 1.5rem;
}


} /* close media query*/


/*-----------------------PageContact---------------------*/

#contact label {
	display: inline-block;
    max-width: 100%;
    font-weight: 700;
    padding: 4em 3em 0em 1em;
    margin-left: 20rem;
}
#contact body{
    position: absolute;
}
#contact label:last-of-type {
	display: inline-block;
    max-width: 100%;
    margin-bottom: 9px;
    font-weight: 700;
    padding: 5em 3em 0em 1em;
    margin: 0em -1em 3em 1em;
    margin-left: 17rem;
}

#contact textarea {
    margin-left: 2rem;
    width: 30rem;
    height: 20rem;
    margin-top: 2rem;
	    
}

#contact input[type=submit] {   color: black;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    padding: 0.5em 3em 0.5em 3em;
    margin: 1em 6em 1em 1em;
    /* margin: auto; */
    margin-left: 30rem;

 }



/*----------------------------------Lovincy-----------------------------------*/


/*----------------Partie formulaire------------------*/
#index main section article {
    background-color: rgba(255,255,255,0.7);
    margin: 1rem;
    border: .2rem solid white;
    text-align: left;
    border-radius: 0.3rem;
    padding: 0.1rem 2rem;
    font-size: 3.2rem;
    display: block;
    width: 93%;
    margin: auto;
    margin-bottom: 1.5rem;
}


#index header {
    width: 100%;
    height: 18rem;
    background-image: url('../img/tour_eiffel_b.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 24vh;
    background-position: top;
    background-attachment: fixed;
    margin-bottom: 1rem;

}


/*---------Bouton OK---------*/

#index div input:last-of-type {
    width: 38%;
    height: 6rem;
    text-align: center;
    margin: 9% 30%;
    font-size: 2.1rem;
    padding-bottom: 1rem;
}

#index input[type="check"] {
    margin-left: 0;
}

#index header .lo_h1 {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
}

#index header h2 {
    color: white;
    text-align: center;
}

#index #map {
    min-height: 18.5em;
}

#index main h2 {
    font-size: 3.3rem;
    margin-bottom: 1rem;
    text-align: center;

}

#index section iframe {
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    width: 92%;
}

/*-----Media query augmentation de la taille de l'écran-----*/

@media screen and (min-width: 35rem) {
    #index header {
        min-height: 37vh;
    }
}

@media screen and (min-width: 42rem) {
    #index header {
        min-height: 47vh;
    }

    #index main h2 {
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-size: 3.3rem;
    margin-bottom: 5rem;
    text-align: center;
    }

    #index header .lo_h1 {
        font-size: 7rem;
    }
}

@media screen and (min-width: 52rem) {
    #indexheader {
        min-height: 62vh;
    }
}

@media screen and (min-width: 61rem) {
    #index header {
        min-height: 69vh;
    }

    #index header .lo_h1 {
        font-size: 12rem;
        padding-top: 11rem;
    }
}

@media screen and (min-width: 75rem) {
    #index main section article {
        margin: auto;
        display: inline-block;
        width: 47%;
        min-height: 19em;
        vertical-align: top;
    }

    #index main section article:first-of-type{
        margin-left: 2.1%;
        margin-right: 2%;
    }

    #index section iframe {
        margin-left: 2.1rem;
        margin-right: 2.6rem;
        width: 47%;
        height: 60vh;
    }
}

@media screen and (min-width: 90rem) {
    #index header {
        min-height: 100vh;
    }

    #index .lo_h1 {
        color: white;
        width: 100%;
        text-align: center;
       /*margin-top: 21rem;*/
        font-size: 13rem;
    }
   #index  header h2 {
        padding-top: 13rem;
        font-size: 62px;
    }
    #index div input:last-of-type {
        width: 15%;
        margin: 9% 43%;
    }

}